/* БАЗОВЫЕ СТИЛИ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: "Golos Text", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #fff;
  background: linear-gradient(0deg, #E3E9FC 0%, #B5C3ED 13%, #3652A5 38%, #123392 44.41%, #02217E 56.25%, #030C25 100%);
}

p {
  text-align: justify;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 0 20px;
  margin-inline: auto;
}

.link,
.link:hover,
.link:visited {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

/* ШАПКА */
.header {
  position: fixed;
  inset: 0 0 auto 0;
  z-index: 10;
  background: linear-gradient(180deg, #05215F 0%, rgba(5, 33, 95, 0) 100%);
}

.header__row {
  display: flex;
  align-items: end;
  justify-content: center;
  gap: 2vw;
  padding-block: 1.2vw;
}

.logo {
  height: 5.2vw;
  max-height: 84px;
  flex: 0 0 auto;
}

/* НАВИГАЦИЯ */
.nav {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: none;
  flex: 1;
  margin-left: 1.6vw;
  gap: 1.6vw;
  justify-content: space-around;
}

.nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  min-width: 8vw;
  height: 2.6vw;
  padding: 0 .8vw;
  font-weight: 600;
  font-size: 1.6vw;
  line-height: 2.1vw;
  color: #fff;
  text-decoration: none;
  border-radius: .8vw;
  background: rgba(255, 255, 255, 0.02);
  border: .06vw solid rgba(255, 255, 255, 0.06);
  transition: all .25s;
}

.nav a:hover {
  background: rgba(255, 255, 255, .12);
  transform: scale(1.02);
  box-shadow: 0 0 .6vw rgba(255, 255, 255, .18);
}

.mobile-nav {
  display: none;
  visibility: hidden;
  height: 0;
  overflow: hidden;
}

/* ГЕРО */
.hero {
  position: relative;
  overflow: visible;
  z-index: 4;
  background: linear-gradient(0deg, #E3E9FC 0%, #B5C3ED 13%, #3652A5 38%, #123392 44.41%, #02217E 56.25%, #030C25 100%);
}

.hero__stage {
  position: relative;
  min-height: 92vh;
}

/* CTA (ГРУППА 12) */
:root {
  --cta-w: 14.7vw;
  --cta-left: 6%;
  --cta-bottom: 40vh;
}

@keyframes ctaFlyIn {
  from {
    transform: translateX(-100vw); /* Начинает за правой границей экрана */
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.cta {
  position: absolute;
  width: var(--cta-w);
  left: var(--cta-left);
  bottom: var(--cta-bottom);
  display: grid;
  row-gap: 1.1vw;
  z-index: 4;
  
  /* Анимация */
  animation: ctaFlyIn 2s ease-out forwards;
}

.cta-lead {
  margin: 0;
  font-family: "Golos Text", sans-serif;
  font-weight: 400;
  font-size: 2.4vw;
  line-height: 2.1vw;
  color: #fff;
  text-shadow: 0 .15vw .6vw rgba(0, 0, 0, .25);
}

.cta-btn {
  padding: 14px 28px;
  font-size: 1.4vw;
  font-weight: 700;
  color: rgb(255, 255, 255);
  background: transparent;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 14px;
  transition: 0.25s;
}

.cta-btn:hover {
  background: rgba(124, 144, 205, 0.15);
}

/* ДРОН */
@keyframes droneFlyIn {
  from {
    transform: translateX(100vw); /* Начинает за правой границей экрана */
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.drone-img {
  position: absolute;
  z-index: 4;
  right: -15%;
  bottom: -15%;
  width: 85%;
  height: auto;
  object-fit: contain;
  filter: drop-shadow(0 1vw 1.6vw rgba(0, 0, 0, .35));
  pointer-events: none;
  user-select: none;

  /* Анимация */
  animation: droneFlyIn 2s ease-out forwards;
}

/* ОБЛАКА */
.clouds-img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -75vh;
  width: 200vw;
  z-index: 3;
  filter: brightness(1.12) contrast(1.08);
  pointer-events: none;
  isolation: isolate;
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 78%, rgba(0, 0, 0, 0) 100%);
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 78%, rgba(0, 0, 0, 0) 100%);
}


.about {
  position: relative;
  /* z-index: 3; */
  background: #E6E9F8;
  color: #0B1F54;
  padding: 7vw 0 6vw;
}

.about__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6%;
  z-index: 4;
}


.h2 {
  position: relative;
  z-index: 6;
  font-size: 2.0vw;
  font-weight: 800;
  letter-spacing: .02em;
  margin-bottom: 2.0vh;
  color: #182e6a;
  text-transform: uppercase;
}

.about p,
.about__list {
  position: relative;
  z-index: 6;
  font-size: 1.4vw;
  color: #22335F;
  line-height: 1.6;
}

.about__list {
  margin-top: .12vw;
  padding-left: 1.2em;
}

.about__list li {
  margin: .4em 0;
}

/* РАСПИСАНИЕ */
.schedule {
  position: relative;
  z-index: 2;
  background: #E6E9F8;
  color: #0B1F54;
  padding: 8vw 0 6vw;
}

.schedule__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 6%;
}

.schedule-bg-shape {
  position: absolute;
  z-index: -1;
  width: 60vw;
  height: auto;
  top: 25vh;
  left: -20vw;
}

.schedule .h2 {
  margin-bottom: 1.6vw;
}

.schedule p {
  font-size: 1.4vw;
  color: #22335F;
  line-height: 1.6;
}

.schedule-img {
  position: relative;
  z-index: 2;
  width: 52vw;
  max-width: 150%;
  height: auto;
  object-fit: contain;
  transform: translate(-8vw, -8vw) rotate(-11deg);
  filter: drop-shadow(0 1.2vw 2vw rgba(9, 24, 78, .25));
  user-select: none;
  pointer-events: none;
}

.img_rotate {
  transform: rotate(11deg);

  /* width: 150%; */
}

/* НАПРАВЛЕНИЯ */
.directions {
  position: relative;
  z-index: 2;
  background: #E6E9F8;
  color: #0B1F54;
  padding-bottom: 10vw;
}

.directions__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5% 6%;
}

.direction h3 {
  font-weight: 800;
  font-size: 1.8vw;
  letter-spacing: .02em;
  margin-bottom: .8vw;
  color: #182e6a;
  text-transform: uppercase;
}

.direction p {
  font-size: 1.4vw;
  color: #22335F;
  line-height: 1.6;
  margin-bottom: 1.2vw;
}

.dir_img {
  width: 30vw;
  height: auto;
  object-fit: contain;
  border-radius: .6vw;
  box-shadow: 0 .8vw 1.6vw rgba(9, 24, 78, .18);
}

/* .direction-block {
  display: flex;
  gap: 1vw;
} */

.dir_back_cloud {
  position: absolute;
  z-index: -1;
  width: 60vw;
  height: auto;
  top: -50vh;
  right: -35vw;
}

.dir_back_drone {
  position: absolute;
  z-index: -1;
  width: 50vw;
  height: auto;
  top: 50vh;
  left: 25vw;
}

/* РЕГИСТРАЦИЯ */
.registration {
  position: relative;
  z-index: 2;
  background: #E6E9F8;
  color: #0B1F54;
  /* padding: 6vw 0 0; */
}

.registration__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6%;
  align-items: start;
}

.registration .h2 {
  margin-bottom: 1.2vw;
}

.registration p {
  font-size: 1.4vw;
  color: #22335F;
  line-height: 1.6;
  margin-bottom: 1.2vw;
}

/* QR */
.qr-wrap {
  
  margin-top: 1vw;
}

.qr-socials {
  display: flex;
  gap: 2.4vw;
  align-items: center;
  flex-wrap: wrap;
}

.registration__grid {
  display: grid;
  grid-template-columns: 1fr;
  /* Было: 1fr 1fr */
  gap: 6%;
  align-items: start;
}


.qr {
  width: 24vw;
  /* Уменьшено с 12vw */
  height: 24vw;
  object-fit: contain;
  vertical-align: top;
  /* background: #e9ecf7;
  box-shadow: 0 .6vw 1.4vw rgba(9, 24, 78, .14) inset, 0 .6vw 1.2vw rgba(9, 24, 78, .12); */
}

.qr-row {
  display: flex;
  align-items: flex-start;
  /* Выравниваем по вертикали */
  gap: 2vw;
  /* Расстояние между QR-кодом и текстом */
  margin-bottom: 4vw;
  /* Отступ между блоками */
}

.qr-text {
  display: flex;
  flex-direction: column;
  gap: .4vw;
  vertical-align: top;
  padding-top: 1vw;
  /* Расстояние между заголовком и текстом */
}

.dir_back_cloud_2 {
  position: absolute;
  z-index: -1;
  width: 80vw;
  height: auto;
  bottom: 7vh;
  left: 40vw;
}

/* ПОДВАЛ */
.footer {
  background: #0B1F54;
  color: #E7EDFF;
  padding: 2.4vw 0;
}

.footer__content {
  display: flex;
  align-items: top;
  justify-content: space-between;
  gap: 4vw;
  flex-wrap: wrap;
}

.footer__content p {
  font-size: .95vw;
  line-height: 1.5;
  text-align: left;
}

.footer__logos {
  display: flex;
  align-items: center;
  gap: 1.2vw;
  margin-left: auto;
}

.footer__logos img {
  height: 2.4vw;
  width: auto;
  object-fit: contain;
}

.footer__logo_large {
  height: 2.6vw;
  width: auto;
  object-fit: contain;
  align-self: center;
  margin-top: 1vw;
}

.footer__copy--center {
  text-align: center;
  width: 100%;
  margin: 1.2vw 0 0;
  font-size: .95vw;
  opacity: .85;
}

section {
  padding: 50px 0;
}


/* АДАПТИВНЫЕ СТИЛИ */
@media (max-width:980px) {
  .nav {
    display: none;
  }

  /* .header__row{
    height: 100vw;
  } */

  .header {
    position: relative;
  }

  .hero__stage {
    min-height: 75vh;
  }

  .logo {
    width: 50vw;
    height: auto;
    margin-top: 10%;
    /* max-height: 84px; */
    flex: 0 0 auto;
    object-fit:contain;
  }

  :root {
    --cta-w: 86vw;
    --cta-left: 50%;
    --cta-bottom: 22vh;
  }



  .cta {
    left: calc(var(--cta-left) - var(--cta-w)/2);
    top: 6vh;
    bottom: auto;
    width: var(--cta-w);
    margin-top: 10%;
  }

  .cta-lead {
    font-size: 4.6vw;
    line-height: 5.4vw;
    text-align: center;
  }

  .cta-btn {
    font-size: 3.8vw;
    padding: 2.8vw 6.2vw;
    margin-top: .6vh;
  }




  .drone-img {
    position: absolute;
    z-index: 4;
    right: -27%;
    /* margin-top: ; */
    bottom: 1%;
    align-items: center;
    justify-content: center;
    width: 150%;
    height: auto;
    object-fit: contain;
    filter: drop-shadow(0 1vw 1.6vw rgba(0, 0, 0, .35));
    pointer-events: none;
    user-select: none;
    /* display: none !important;
    filter: none !important; */
  }

  .about__grid {
    grid-template-columns: 1fr;
    gap: 32px;
    z-index: 4;
  }

  .h2 {
    font-size: 5.6vw;
  }

  .about p,
  .about__list {
    font-size: 3.8vw;
  }

  .schedule,
  .directions,
  .registration {
    padding: 12vw 0;
  }

  .schedule__grid,
  .directions__grid,
  .registration__grid {
    grid-template-columns: 1fr;
    gap: 8vw;
  }


  .schedule-bg-shape {
    width: 50vw;
    top: 10vh;
    left: -15vw;
  }

  .schedule .h2,
  .directions .h2,
  .registration .h2 {
    font-size: 5.6vw;
    margin-bottom: 3vw;
  }

  .schedule p,
  .direction p,
  .registration p {
    font-size: 3.8vw;
  }

  .schedule-img {
    width: 78vw;
    /* transform: rotate(-8deg); */
    margin: 2vw auto 0;
  }

  /* .img_rotate {
    transform: rotate(11deg);
  } */

  .direction h3 {
    font-size: 4.6vw;
    margin-bottom: 2vw;
  }

  .direction img {
    width: 100%;
    border-radius: 3vw;
    object-fit: contain;
  }

  .registration__grid {
    display: grid;
    grid-template-columns: 1fr;
    /* Было: 1fr 1fr */
    gap: 6%;
    align-items: start;
  }

  .direction-block {
    flex-direction: column;
    /* Делаем колонку */
    align-items: stretch;
    /* Растягиваем по ширине */
    gap: 2vw;
    margin-bottom: 6vw;
  }

  .dir_img {
    margin: auto;
    width: 75vw;
    height: auto;
    object-fit: contain;
    border-radius: .6vw;
    box-shadow: 0 .8vw 1.6vw rgba(9, 24, 78, .18);
  }

  .direction {
    margin: auto;
  }

  .qr-row {
    flex-direction: column;
    /* На мобильных устройствах делаем колонку */
    gap: 2vw;
    margin-bottom: 8vw;
  }

  .qr-text, .qr-text p {
    gap: 2vw;
    margin: auto;
    text-align: center;
  }
  .qr-wrap{
    margin: auto;
  }

  .qr {
    width: 36vw;
    height: 36vw;
  }

  .footer__content p {
    font-size: 3.6vw;
    text-align: left;
  }

  .footer__logos img {
    height: 5.2vw;
  }

  .footer__copy--center {

    font-size: 2vw;
  }

  .clouds-img {
    bottom: -5vh;
    width: 250vw;
  }

  .mobile-nav {
    display: flex;
    visibility: visible;
    flex-direction: column;
    width: 100%;
    height: 50vh;
    overflow: visible;
    gap: .6vh;
    margin-bottom: .8vh;
  }

  .mobile-nav .mobile-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(50vh / 4);
    font-weight: 700;
    font-size: 5.2vw;
    color: #fff;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.03);
    border: .12vh solid rgba(255, 255, 255, 0.06);
    border-radius: .8vw;
    box-shadow: 0 .6vw 1.2vw rgba(0, 0, 0, .12);
    transition: background .18s, transform .12s;
  }

  .mobile-nav .mobile-btn:active,
  .mobile-nav .mobile-btn:focus,
  .mobile-nav .mobile-btn:hover {
    background: rgba(255, 255, 255, 0.12);
    transform: translateY(-.2vh);
  }

  .flex_pil_1{
    order: 1;
  }
  .flex_pil_1{
    order: 2;
  }
  .flex_pil_3{
    order: 3;
  }
  .flex_pil_4{
    order: 4;
  }
  .flex_pil_5{
    order: 5;
  }
  .flex_pil_6{
    order: 6;
  }
  
}